.pagination{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1rem;
}

i{
    font-size:1.7rem;
    cursor:pointer;
    color:black;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.navbar a {
    font-size: 1.2rem;
    color: #fff;
}

h5 a {
    font-size:1.1rem;
}

.badge {
    font-size:0.7rem;
}